<section class="contact" id="contact">
        <div class="container">
            <div class="section-heading">
                <h1>Contact</h1>
                <h6>Let's Start Chatting</h6>
            </div>

        
            <form action="">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
            
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter you Email.." required>
            
                <!-- <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
             -->
                <label for="service">Services:</label>
                <select name="services" id="service">
                    <option value="">Web Design</option>
                    <option value="">Web Devlopment</option>
                    <option value="">Web Design/Development</option>
                </select>
                <label for="subject">Subject:</label>
                <textarea name="subject" id="subject" cols="10" rows="10">
                </textarea>
            
                <input type="submit" value="Submit">
            
                </form>
      </div>
    </section>
	