<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/main.css' />
	<link rel="favicon icon" type="images/png" href="images/portfolio_icon.png">
  </head>
  <body>
		 <header>
        <div class="menu-toggler">
             <div class="bar half start"></div>
             <div class="bar"></div>
             <div class="bar half end"></div>
            

        </div>
        <img src="images/portfolio_icon.svg" id="logo" height="70px" width="70px" margin-top="20px">
        <nav class="top-nav">
            <ul class="nav-list">
                <li>
                    <a href="/" class="nav-link">HOME</a>
                </li>
                <li>
                    <a href="/" class="nav-link">ABOUT</a>
                </li>
                <li>
                    <a href="/portfolio" class="nav-link">PORTFOLIO</a>
                </li>
                {{!-- <li>
                    <a href="#services" class="nav-link">SERVICES</a>
                </li> --}}
                {{!-- <li>
                    <a href="#experience" class="nav-link">EXPERIENCE</a>
                </li> --}}
                
                <li>
                    <a href="#contact" class="nav-link">CONTACT</a>
                </li>
                
            </ul>
        </nav>
        <div class="landing-text">
            
            <h1>Prabhjot Kaur</h1>
            <h6>UI | UX Designer and Web Devolper</h6>
            
        </div>
        
     </header>




    {{{body}}}

    <footer class="copyright">
        <div class="up" id="up">
            <i class="fas fa-chevron-up"></i>
           
        </div>
         <p>&copy; 2020 Prabhjot Kaur Gill</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/main.js"></script>

</html>
